@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}

.container-fw-px {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex.v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-flex.h-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* my stands for margin y */
.py-container {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

p.my-name {
  color: white;
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  font-family: Roboto;
}

p.welcome-message {
  color: white;
  font-size: 83px;
  line-height: 83px;
  font-weight: 500;
  font-family: Montserrat;
  letter-spacing: 0px;
}

nav {
  background-color: #262a2d;
}

nav.navbar {
  min-height: 80px;
}

nav.navbar .navbar-brand {
  color: black !important;
}

nav.navbar .navbar-brand .brand-logo {
  max-height: 72px;
}

nav.navbar .fa.fa-bars {
  color: #fff;
}

nav.navbar .navbar-nav li a {
  font-weight: 700;
  color: #fff !important;
}

nav.navbar-transparent {
  background: transparent;
}

section {
  min-height: 10vh;
}

section h2.title {
  font-size: 43px;
  font-weight: 700;
  color: #283269;
  position: relative;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  section h2.title {
    margin-left: 100px;
  }
  section h2.title:before {
    content: "";
    position: absolute;
    left: -100px;
    top: 50%;
    width: 60px;
    height: 4px;
    background-color: #ff4655;
  }
}

section#header-section {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url("../assets/img/header_bg.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

section#header-section .header-row {
  margin-top: -80px;
}

section#header-section .profile-picture {
  min-height: 600px;
  background-image: url("../assets/img/pp1_border_radius_768x768.png");
  background-size: contain;
  background-repeat: no-repeat;
}

section#header-section img {
  text-align: center;
}

section#header-section p {
  text-align: center;
}

section#cv-section .profile-picture {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

section#contact-section {
  background-color: purple;
}

.short-divider {
  width: 50%;
  height: 3px;
  background-color: #f3f3f5;
}

.short-divider.centered {
  margin-left: auto;
  margin-right: auto;
}

footer#footer-section {
  background-color: #262a2d;
}

footer .footer-text {
  color: #ccc;
  font-size: 18px;
  font-weight: 300;
}

footer .footer-sm-link {
  padding: 5px;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

footer .footer-sm-link img {
  height: 24px;
  width: 24px;
}

footer .footer-sm-link:hover {
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */